1  torch==2.0.1
2  torchvision==0.15.2
3  timm
4  matplotlib
5  numpy==1.25.2
6  pandas
7  pillow
8  scikit-image
9  scikit-learn
10 scipy
11 xformers==0.0.16
12 lpips
13 loguru
14 omegaconf
15 six
16 tqdm
17 albumentations
18 einops
19 imageio
20 calflops
21 transformers==4.30.2
22 diffusers==0.31.0
23 accelerate
24 tensorflow==2.11.0
25 kornia
26 triton
27 deepspeed
28 pyspng
